<div>
    <div class="section-title">{{title}}</div>
    {{#each content}}
        <div class="sub-title">{{name}}</div>
        <span class="year">{{year}}</span>
        <span class="course">{{course}}</span>
        <span class="grade">{{grade}}</span>
        <p>{{description}}</p>
    {{/each}}
</div>