<div>
    <div>
        <p class="first-name">{{firstName}}</p>
        <p class="last-name">{{lastName}}</p>
    </div>
    <img class="picture" src="{{img}}" alt="image" />
    <ul>
        <li id="phone">{{contact.phone}}</li>
        <li id="email">{{contact.email}}</li>
        <li id="linkedin">{{contact.linkedin}}</li>
    </ul>
</div>