<div>
    <p class="section-title">{{title}}</p>
    {{#each content}}
        <div>{{company}}</div>
        <div>{{year}}</div>
        <div>{{designation}}</div>
        <p>{{description}}</p>
    {{/each}}
</div>