<div>
    <div class="section-title">{{title}}</div>
    {{#each content}}
        <div class="sub-title">{{company}}</div>
        <span class="year">{{year}}</span>
        <span class="designation">{{designation}}</span>
        <p>{{description}}</p>
    {{/each}}
</div>